<div class="las fixed bottom-0  w-full">
    <footer class="bg-black" >
        <div class="text-xl text-slate-100 font-bold items-center flex justify-center space-x-4  ">
            <p>Contact Me</p>
            <p><i class="fa-solid fa-circle-chevron-down more"></i></p>
        </div>

     
        <div class="flex  all justify-center space-x-6  text-md sm:text-3xl md:text-5xl pb-2" >
        <div><a href="https://www.facebook.com/ayushkumar.chaubey.37" target="_blank"><i class="fa-brands fa-facebook hover:text-blue-700 text-white"></i></a></div>
        <div><a href="https://github.com/ayushchaubey17" target="_blank"><i class="fa-brands fa-github text-white hover:text-yellow-500"></i></a></div>
        <div><a href="https://www.linkedin.com/in/ayush-kumar-chaubey-6a6745264" target="_blank" ><i class="fa-brands fa-linkedin text-white hover:text-red-300"></i></a></div>
        <div>
            <a href="mailto:ayushreso1234@gmail.com"><i class="fa-solid fa-envelope text-white hover:text-yellow-400"></i></a></div>
        <div><a href="tel:+9636157030"><i class="fa-solid text-white hover:text-blue-400 fa-phone"></i></a></div>
    </div>
        

            <div class="profile  hidden    flex-col ">

                <h1 class="text-blue-200 text-center">Give feedback</h1>

                <form action="">
                <div class=" flex justify-between mt-2 "><textarea name="ak" id="ak1" class=" w-4/6 mx-auto text-center rounded-md items-center" placeholder="give me  your valuable feedback" rows="6"></textarea>
                 
                </div>

                         
           <h1 class="text-white p-1 border-2 border-gray-600 hover:bg-sky-600 hover:cursor-pointer hover:border-white  w-fit mx-auto my-2 rounded-lg font-bold text-center ">submit</h1>
        </form>
                
        <div class="text-sm text-slate-100 font-bold flex justify-center space-y-3 mt-4">
            <p>Thanks for visiting--- <br><span class="text-slate-300 text-center">.....Ayush chaubey</span></p>
        </div>


        <h2 class="close text-red-800 font-bold text-2xl text-xl hover:cursor-pointer  font-bold text-center mr-2 "><i class="fa-solid fa-circle-xmark"></i></h2>
            </div>
